<ion-header>
  <ion-navbar>
    <ion-title>
      Appli Movies
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <div *ngIf="results.length == 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <ion-item>Aucun résultat</ion-item>
    </ng-template>
    <ng-template #elseBlock>
      <ion-list>
        <button ion-item (click)="showDetails(item)" *ngFor="let item of (results | async)">
          <ion-thumbnail item-start>
            <img src="https://image.tmdb.org/t/p/w92/{{item.poster_path}}" alt="affiche">
          </ion-thumbnail>
          <h2>{{item.title}}</h2>
          <h3>{{item.overview}}</h3>
        </button>
      </ion-list>
    </ng-template>
</ion-content>
